@{
    ViewData["Title"] = "Home Page";
}
@model Movies

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Learn about the Brother of Spencer and the movies that he loves!</p>
</div>

<img src="/img/JoelHiltonHeadshot.jpg" alt="Joel's Handsome Photo" style="max-width: 100%; height: auto;">

<h3></h3>